#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[ca_ES]=mate
Name[ca_ES]=mate-terminal
Exec=mate-terminal
Name=mate-terminal
Icon=mate
